#actors {
  background: rgb(0, 0, 0);
  background: linear-gradient(90deg, rgba(0, 0, 0, 0.8692519244025736) 0%, rgba(0, 0, 0, 0.2863270308123249) 0%, rgba(13, 19, 45, 0.885766806722689) 0%, rgba(17, 18, 39, 1) 0%, rgba(15, 20, 27, 1) 0%, rgba(32, 14, 19, 0.6843779748227417) 100%);

  h2 {
    font-size: 27px;
    padding: 20px;
    color: white;
  }

  .actors {
    &--block {
      padding: 10px 5px 20px 5px;
      margin: 0 10px;
      width: 10%;
      -webkit-box-shadow: 4px 4px 22px rgba(34, 60, 80, 0.2);
      -moz-box-shadow: 4px 4px 22px rgba(34, 60, 80, 0.2);
      box-shadow: 4px 4px 22px rgba(50, 60, 80, 0.2);

      &__photos {
        border-radius: 10px;
        width: 150px;
      }

      h5 {
        font-size: 15px;
        color: white;
        padding: 10px 0 0 20px;
      }

    }

  }
}