@import "src/style/header";
@import "src/style/footer";
@import "src/style/home";
@import "src/style/popular";
@import "src/style/topRated";
@import "src/style/movieDetails";
@import "src/style/actors";
@import "src/style/info";
@import "src/style/ActorsMovies";
@import "src/style/trailer";
@import "src/style/MovieCard";
@import "src/style/search";



*{
  padding: 0;
  margin: 0;
  border: none;
}
a{
  text-decoration: none;
}
.container{
  width: 90%;
  margin: 0 auto;
}
